/**
 @author Marty Zhang <marty8zhang@gmail.com>
 @created 17 April 2018, 11:14 AM AEST
*/
/*----- General -----*/
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.sorting-condition {
  border-bottom: 1px lightgray dotted;
  padding-top: 15px;
  padding-bottom: 15px;
}
.buttons .btn {
  margin-right: 10px;
}
.buttons .btn:last-child {
  margin-right: 0;
}
/*----- Record Listing -----*/
.sorting-condition .remove-sorting-condition {
  visibility: visible;
}
.sorting-condition:first-of-type .remove-sorting-condition,
.sorting-condition:nth-of-type(2) .remove-sorting-condition {
  visibility: hidden;
}

@media (max-width:767px) {
  .mb8-xs {
    margin-bottom: 8px;
  }
  .text-center-xs {
    text-align: center;
  }
  .form-inline-xs .form-control {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}